* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: ibm plex mono; 
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
}

.logo-text {
  margin-left: -1rem;
  font-size: 24px;
}

.nav-items {
  display: flex;
  gap: 4rem;
  padding: 0 4em;
}

.nav-items div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.nav-items div a {
  color: black;
}

a {
  text-decoration: none;
}

.nav-items div:hover {
  transition: 0.2s;
  font-weight: bold;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 6rem 5rem;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.faded-text {
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);
  bottom: -16%;
  left: -5%;
  font-weight: bold;
  /* transition: all 3s;  */
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hero-section-heading {
  font-size: 35px;
  font-weight: 600;
  color: #87888a;
}
.hero-section-heading span {
  font-size: 45px;
  color: black;
}

.roles {
  color: rgb(39, 22, 39);
  font-weight: 800;
}

#hero-section-subheading {
  font-size: 30px;
  line-height: 45px;
}

.hero-section-description {
  margin-top: 1rem;
  width: 48%;
  font-weight: 500;
  color: #87888a;
  line-height: 1.8;

}

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a {
  text-decoration: none;
  border: 1px solid #010100;
  padding: 10px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.btn-1 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after{
  transform: scaleX(0);
}
span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}

.card {
    position: relative;
    height: 100%;
    width:100%;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
  
  .card:hover {
    transition: 0.5s;
  }
  
  .card:hover img {
    filter: grayscale(0%);
  }
